.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.shop-item-image {
    border-radius: .7rem;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
    padding-left: 16px;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    box-sizing: border-box;
    padding: 4px 16px;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-primary {
    color: white;
    background-color: var(--green);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #56CCF2;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.btn-purchase {
    display: block;
    margin: 48px auto;
    font-size: 1.5em;
    padding: 8px 16px;
}

.w3-button {
    padding: 0 16px;
    background-color: var(--green);
}

.w3-button:hover {
    color: red !important;
}

#cart {
    z-index: 3;
    display: none;
    padding-top: 7rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.w3-modal-content {
    background-color: rgba(223, 199, 199, 0.9);
}